In [1]:
from time import time

import pandas as pd
from sqlalchemy import create_engine
import pyarrow.parquet as pq

In [2]:
pd.read_csv("taxi+_zone_lookup.csv")

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [41]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

Pandas parquet by default can't read file in chunks

In [42]:
df = pd.read_parquet("yellow_tripdata_2023-01.parquet")
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [43]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

Workaround for the same using pyarrow

In [44]:
tripdata_pq = pq.ParquetFile('yellow_tripdata_2023-01.parquet')

batch_size = 100000
tripdata_pq_iter = tripdata_pq.iter_batches(batch_size=batch_size)

In [45]:
df = next(tripdata_pq_iter).to_pandas()
# df.head(0) only gives the headers, so we write only the headers first
df.head(0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [46]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 3.08 s, sys: 80.3 ms, total: 3.16 s
Wall time: 7.82 s

1000

In [48]:
for batch in tripdata_pq_iter:
    start_time = time()

    df = batch.to_pandas()
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

    end_time = time()
    print(f"Inserted another chunk, too time {end_time-start_time:.3f} seconds")

Inserted another chunk, too time 7.718 seconds
Inserted another chunk, too time 8.140 seconds
Inserted another chunk, too time 7.993 seconds
Inserted another chunk, too time 7.723 seconds
Inserted another chunk, too time 7.410 seconds
Inserted another chunk, too time 7.541 seconds
Inserted another chunk, too time 7.724 seconds
Inserted another chunk, too time 8.273 seconds
Inserted another chunk, too time 7.763 seconds
Inserted another chunk, too time 8.128 seconds
Inserted another chunk, too time 7.495 seconds
Inserted another chunk, too time 7.961 seconds
Inserted another chunk, too time 9.286 seconds
Inserted another chunk, too time 8.520 seconds
Inserted another chunk, too time 9.210 seconds
Inserted another chunk, too time 7.585 seconds
Inserted another chunk, too time 7.607 seconds
Inserted another chunk, too time 7.453 seconds
Inserted another chunk, too time 8.049 seconds
Inserted another chunk, too time 8.376 seconds
Inserted another chunk, too time 9.302 seconds
Inserted another chunk, too time 9.143 seconds
Inserted another chunk, too time 10.372 seconds
Inserted another chunk, too time 8.250 seconds
Inserted another chunk, too time 7.634 seconds
Inserted another chunk, too time 8.127 seconds
Inserted another chunk, too time 7.634 seconds
Inserted another chunk, too time 9.681 seconds
Inserted another chunk, too time 8.955 seconds
Inserted another chunk, too time 4.306 seconds